{% extends "blog/base.html" %}

{% block content %}

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">

		{{home_page.site_title|safe}}
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Special Posts</span></h2>
	</div>
	<div class="row row-cols-3 listfeaturedtag">

		{% for post in s_post %}
			<!-- begin post --> 
			<div class="col">
			<div class="card">
				<div class="row">
					<div class="col-md-5 wrapthumbnail">
						<a href="{{ url_for('blog.post' , slug=post.slug) }}">
							{% set img = url_for('library_views.madie_get' , madie_id= post.image) %}
							<div class="thumbnail" style="background-image:url( {{img}} );">
							</div>
						</a>
					</div>
					<div class="col-md-7">
						<div class="card-block">
							<h2 class="card-title"><a href="{{ url_for('blog.post' , slug=post.slug) }}">{{ post.title }}</a></h2>
							<h4 class="card-text"> {{ post.summary[:150]  }} ... </h4>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
										<a href="{{ url_for('blog.author' , user_id=post.author.id) }}"><img class="author-thumb" src="{{ url_for('static' , filename = 'img_profile/'+ post.author.image.filename) }}" alt="{{ post.author.full_name }}" title="{{ post.author.full_name }}" ></a>
										</span>
										<span class="author-meta">
										<span class="post-name"><a href="{{ url_for('blog.author' , user_id=post.author.id) }}">{{ post.author.full_name }}</a></span><br/>
										<span class="post-date">{{ post.time.strftime('%d %B %Y') }}</span><span class="dot"></span><span class="post-read"> {{ post.read_time }} min read</span>
										</span>
										<span class="post-read-more">
											<a onclick="save(this)" post-id="{{post.id}}" id="{{post.id}}-save-a" >
												<i class="material-symbols-outlined style-buttons-actions" id="{{post.id}}-save-i">bookmark</i>
											</a>
										</span>
										{% if post in current_user.posts_saved %}
											<script>color_save('active' , '{{post.id}}')</script>
										{% endif %}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->
		</div>
		{% endfor %}


	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
		<div class="section-title">
			<h2><span>All Post</span></h2>
		</div>

		<div class="row listrecent listrelated" >

			{% for post in posts %}
					<!-- begin post -->
					<div class="col-md-4 margin-bottom-posts" style="margin-bottom: 20px;">
						<div class="card">
							<a href="{{ url_for('blog.post' , slug=post.slug) }}">
							<img class="img-fluid img-thumb" src="{{ url_for('library_views.madie_get' , madie_id= post.image) }}" alt="">
							</a>
							<div class="card-block">
								<h2 class="card-title"><a href="{{ url_for('blog.post' , slug=post.slug) }}">{{ post.title }}</a></h2>
								<div class="metafooter">
									<div class="wrapfooter">
										<span class="meta-footer-thumb">
											<a href="/blog/authors/1"><img class="author-thumb" src="{{ url_for('static' , filename = 'img_profile/' + post.author.image.filename) }}" alt="{{post.author.full_name}}"></a>
										</span>
										<span class="author-meta">
										<span class="post-name">
											<a href="/blog/authors/1">{{ post.author.full_name }}</a>
										</span>
										<br>
										<span class="post-date">{{ post.time.strftime('%d %B %Y') }}</span>
										<span class="dot"></span>
										<span class="post-read">{{ post.read_time }} min read</span>
										</span>
	
										<span class="post-read-more">
											<a onclick="save('{{post.id}}-save')" value="{{post.id}}" id="{{post.id}}-save-a" >
												<i class="material-symbols-outlined style-buttons-actions" id="{{post.id}}-save-i">bookmark</i>
											</a>
										</span>
										{% if post in current_user.posts_saved %}
											<script>color_save('active' , '{{post.id}}-save' )</script>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- end post -->
			{% endfor %}
	
		</div>
		</section>
		<!-- End List Posts
		================================================== -->

</div>

<!-- /.container -->
{% endblock content %}

