{% extends "admin/base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <form action="{{ url_for('admin.post_create') }}" method="POST" class="forms-sample">
            {% include '_inc/form_error_msg.html' %}
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.title.label}}
                {{form.title(class='form-control' , placeholder=form.title.label.text)}}
                    
            </div>

            <div class="form-group">
                {{form.content.label}}
                {{form.content(class='form-control' ,rows="25" ,  placeholder=form.content.label.text)}}  
            </div>
            
            <div class="form-group">
                {{form.summary.label}}
                {{form.summary(class='form-control' , placeholder=form.summary.label.text)}}
            </div>
            
            <div class="form-group">
                {{form.slug.label}}
                {{form.slug(class='form-control' , placeholder=form.slug.label.text)}}
                    
            </div>

            {{form.categories.label}}
            <div class="card">
                <div class="card-body form-inline">
                    <div class="col-md-13">
                        <div class="form-group">
                            {% for cat in form.categories %}
                                <div class="form-check form-check-primary" style="margin: 20px;">
                                    <label class="form-check-label" for="{{cat.id}}">
                                    <input id="{{cat.id}}" name="{{cat.data}}" type="checkbox" class="form-check-input" > {{cat.data}} <i class="input-helper"></i></label>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><br>
            <button type="submit" class="btn btn-primary mr-2"> Publish </button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}