events {
    worker_connections 1000;
}


http {
    server {
        listen  ${LISTEN_PORT};
        server_name ${NGINX_SERVER_NAME};
        
        location / {
            proxy_set_header Host ${NGINX_SERVER_NAME};
            proxy_pass http://app:${APP_PORT};
        }

        location /static/ {
            include  /etc/nginx/mime.types;
            alias /var/static/;
        }


    }
}