{% extends "blog/base.html" %}

{% block content %}
<div class="container">
	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
        <div class="section-title">
            <h2><span>{{ title }}</span></h2>
        </div>
        <div class="card-columns listrecent">
            
            {% for post in posts %}
    
                <!-- begin post -->
                <div class="card">
                    <a href="{{ url_for('blog.post' , slug=post.slug) }}">
                        <img class="img-fluid" style="width: 350px;height:200px;"  src="{{url_for('library_views.madie_get' , madie_id= post.image)}}" alt="">
                    </a>
                    <div class="card-block">
                        <h2 class="card-title"><a href="{{ url_for('blog.post' , slug=post.slug) }}"> {{ post.title }} </a></h2>
                        <h4 class="card-text"> {{ post.summray }} </h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                <span class="meta-footer-thumb">
                                    <a href="{{ url_for('blog.author' , user_id=post.author.id) }}"><img class="author-thumb" src="{{ url_for('static' , filename = 'img_profile/'+ post.author.image.filename) }}" alt="{{ post.author.full_name }}" title="{{ post.author.full_name }}" ></a>
                                    </span>
                                    <span class="author-meta">
                                    <span class="post-name"><a href="{{ url_for('blog.author' , user_id=post.author.id) }}">{{ post.author.full_name }}</a></span><br/>
                                    <span class="post-date">{{ post.time.strftime('%d %B %Y') }}</span><span class="dot"></span><span class="post-read"> {{ post.read_time }} min read</span>
                                    </span>
                                    <span class="post-read-more"><a href="#" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            {% endfor %}
        </div>
        </section>
        <!-- End List Posts
        ================================================== -->

        <div style="text-align: center;">
            {% set pages = [] %}
            {% set start = page - 1 %}

            {% if start < 1 %}
                {% set start = 1 %}
            {% endif %}

            {% for _ in range( start  , start + 3) %}
                {% if  not _ > posts.pages %}
                    {{ pages.append(_) or  ''}}
                {% endif %}    
            {% endfor %}
            
            {% for _ in pages%}
                <a href="{{ url_for('blog.post_archive' , page=_) }}" class="btn btn-primary {% if _ == page %} active {% endif %}" ><span>{{_}}</span></a>
            {% endfor %}
            <br>
            <span style="font-size: small;">Total Page : {{posts.pages}}</span>
        </div>
</div>
{% endblock content %}