{% extends "blog/base.html" %}

{% block content %}

<!-- Begin Top Author Page
	================================================== -->
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-md-offset-2">
      <div class="mainheading">
        <div class="row post-top-meta authorpage">
          <div class="col-md-10 col-xs-12">
            <h1>{{author.full_name}}</h1>
            <span class="author-description"> {{ author.bio or ''}} </span>
            <br>
            <a target="_blank" href="#" class="btn follow">Follow</a>
          </div>
          <div class="col-md-2 col-xs-12">
            <img class="author-thumb" src="{{ url_for('static' , filename = 'img_profile/'+ author.image.filename) }}"
              alt="{{ author.full_name }}" title="{{ author.full_name }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Top Author Meta
	================================================== -->

<!-- Begin Author Posts
	================================================== -->
<div class="graybg authorpage">
  <div class="container">
    <div class="listrecent listrelated">

      {% for post in author.posts %}


      <!-- begin post -->
      <div class="authorpostbox">
        <div class="card">
          <a href="{{ url_for('blog.post' , slug=post.slug) }}">
            <img class="img-fluid img-thumb" src="{{ url_for('library_views.madie_get' , madie_id= post.image) }}"
              alt="">
          </a>
          <div class="card-block">
            <h2 class="card-title"><a href="{{ url_for('blog.post' , slug=post.slug) }}">{{ post.title
                }}</a></h2>
            <h4 class="card-text">{{ post.summary}}</h4>
            <div class="metafooter">
              <div class="wrapfooter">
                <span class="meta-footer-thumb">
                  <a href="{{ url_for('blog.author' , user_id=author.id) }}">
                    <img class="author-thumb"
                      src="{{ url_for('static' , filename = 'img_profile/'+ author.image.filename) }}"
                      alt="{{ author.full_name }}" title="{{ author.full_name }}"></a>
                </span>
                <span class="author-meta">
                  <span class="post-name"><a href="{{ url_for('blog.author' , user_id=author.id) }}">{{ author.full_name
                      }}</a></span><br />
                  <span class="post-date">{{ post.time.strftime('%d %B %Y') }}</span><span class="dot"></span><span
                    class="post-read"> {{ post.read_time }} min read</span>
                </span>

                <span class="post-read-more">
                  <a onclick="save(this)" post-id="{{post.id}}" id="{{post.id}}-save-a" >
                    <i class="material-symbols-outlined style-buttons-actions" id="{{post.id}}-save-i">bookmark</i>
                  </a>
                </span>
                {% if post in current_user.posts_saved %}
                  <script>color_save('active' , '{{post.id}}' )</script>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end post -->
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Author Posts
	================================================== -->

<!-- Begin Twitter Timeline
	================================================== -->
<div class="container margtop3rem">
  <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">WowThemesNet Tweets</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- End Twitter Timeline
	================================================== -->

{% endblock content %}