{% extends "admin/base.html" %}

{% block content %}
<div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <a href="{{url_for('admin.user_create')}}">
        <button type="button" class="btn btn-primary btn-fw" style="float: right; margin:10px"> Create User </button> 
    </a>
    
    <form action="{{url_for('admin.user_show')}}" method="get"  style="margin-top:25px">
      <input type="number" name="n" id="n" placeholder="Number of shows">
     </form>

    <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th>Profile</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Posts</th>
            <th>Comments</th>
            <th>Post Liks</th>
            <th>Post Disliks</th>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
            {% for user in users.items %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>
                      {% if user.image == 0 or not user.image%}
                        <img src="{{ url_for('static' , filename='images/default-profile-image.png') }}" alt="image">
                      {% endif %}
                    </td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.email}}</td>
                    {% if user.role == 0 %}
                        <th>User</th>
                    {% else %}
                        <th>Admin</th>
                    {% endif %}
                    <td>{{user.posts |length}}</td>
                    <td>{{user.comments |length}}</td>
                    <td>{{user.posts_liked |length}}</td>
                    <td>{{user.posts_disliked |length}}</td>
                    <td>
                        <a href="{{url_for('admin.user_edit' , user_id=user.id)}}"><button type="button" class="btn btn-primary btn-fw"> Edite </button></a> <br> <br>
                        <a href="{{url_for('admin.user_delete' , user_id=user.id)}}"><button type="button" class="btn btn-danger btn-fw"> Delete </button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
    <div style="text-align: center;">
      {% set pages = [] %}
      {% set start = page - 1 %}

      {% if start < 1 %}
        {% set start = 1 %}
      {% endif %}

      {% for _ in range( start  , start + 3) %}
        {% if  not _ > users.pages %}
          {{ pages.append(_) or  ''}}
        {% endif %}    
      {% endfor %}
      
      {% for _ in pages%}
        <a href="{{ url_for('admin.post_show' , p=_ , n=per_page) }}" class="btn btn-primary {% if _ == page %} active {% endif %}" ><span>{{_}}</span></a>
      {% endfor %}
      <br>
      <span style="font-size: small;">Total Page : {{users.pages}}</span>
    </div>
  </div>
{% endblock %}