{% extends "admin/base.html" %}

{% block content %}
<div class="card-body">
    <h4 class="card-title">List Post</h4>
    <a href="{{url_for('admin.category_create')}}">
        <button type="button" class="btn btn-primary btn-fw" style="float: right; margin:10px"> Create Category </button> 
    </a>
    <div class="table-responsive">
      
      <table class="table table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Used In Post</th>
            <th>Time</th>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
            {% for category in categories.items %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>{{category.posts |length}}</td>
                    <td>{{category.time.year}}-{{category.time.month}}-{{category.time.day}} | {{category.time.hour}}:{{category.time.minute}}</td>
                    <td>
                        <a href="{{url_for('admin.category_edit' , category_id = category.id)}}"><button type="button" class="btn btn-primary btn-fw"> Edite </button></a> <br> <br>
                        <a href="{{url_for('admin.category_delete' , category_id = category.id)}}"><button type="button" class="btn btn-danger btn-fw"> Delete </button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}