{% extends "admin/base.html" %}

{% block content %}
<div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <a href="{{url_for('admin.category_create')}}">
        <button type="button" class="btn btn-primary btn-fw" style="float: right; margin:10px"> Create Category </button> 
    </a>

    <form action="{{url_for('admin.category_show')}}" method="get"  style="margin-top:25px">
      <input type="number" name="n" id="n" placeholder="Number of shows">
     </form>

    <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Used In Post</th>
            <th>Time</th>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
            {% for category in categories.items %}
                <tr>
                    <td>{{category.id}}</td>
                    <td> <a href="{{ url_for('blog.category' , slug=category.slug) }}" target="_blank">{{ category.name }}</a> </td>
                    <td>{{category.description}}</td>
                    <td>{{category.posts |length}}</td>
                    <td>{{category.time.year}}-{{category.time.month}}-{{category.time.day}} | {{category.time.hour}}:{{category.time.minute}}</td>
                    <td>
                        <a href="{{url_for('admin.category_edit' , category_id = category.id)}}"><button type="button" class="btn btn-primary btn-fw"> Edite </button></a> <br> <br>
                        <a href="{{url_for('admin.category_delete' , category_id = category.id)}}"><button type="button" class="btn btn-danger btn-fw"> Delete </button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="text-align: center;">
      {% set pages = [] %}
      {% set start = page - 1 %}

      {% if start < 1 %}
        {% set start = 1 %}
      {% endif %}

      {% for _ in range( start  , start + 3) %}
        {% if  not _ > categories.pages %}
          {{ pages.append(_) or  ''}}
        {% endif %}    
      {% endfor %}
      
      {% for _ in pages%}
        <a href="{{ url_for('admin.category_show' , p=_ , n=per_page) }}" class="btn btn-primary {% if _ == page %} active {% endif %}" ><span>{{_}}</span></a>
      {% endfor %}
      <br>
      <span style="font-size: small;">Total Page : {{categories.pages}}</span>
    </div>
  </div>
{% endblock %}