{% extends "admin/base.html" %}

{% block content %}


<div class="content-wrapper pb-0">
    
    <div class="row d-flex justify-content-between align-items-start" style="padding: 20px;">
        <div class="card">
            <div class="card bg-warning">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Total of Blog posts</p>
                            <h2 class="text-white">{{ total_posts }} </span>
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-border-color bg-inverse-icon-warning"></i>
                    </div>
                    <h6 class="text-white">{{ total_m_posts }} last month</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card bg-danger">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Total of Blog Users</p>
                            <h2 class="text-white"> {{ total_users }} </span>
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-danger"></i>
                    </div>
                    <h6 class="text-white">{{ total_m_users }} last month</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card bg-primary">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Total of Blog Views</p>
                            <h2 class="text-white"> {{ total_views }}</span>
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-eye bg-inverse-icon-primary"></i>
                    </div>
                    <h6 class="text-white">{{ total_m_views }} last month</h6>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card bg-success">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Total of all Likes</p>
                            <h2 class="text-white">{{ total_likes }} </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-thumb-up  bg-inverse-icon-success"></i>
                    </div>
                    <h6 class="text-white">{{ total_m_likes }} last month</h6>
                </div>
            </div>
        </div>
    </div>


    
    <div class="row">
        <div class="col-xl-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-black">To do Task List</h4>
                    <div class="list-wrapper">
                        <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                            {% for to_do in to_do_list %}
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label" >
                                            <i class="input-helper">{{ to_do.get('name') }}</i>
                                            {% if to_do.get('is_done')%}
                                                <input class="checkbox" type="checkbox" checked>
                                            {% else %}
                                                <input class="checkbox" type="checkbox" > 
                                            {% endif %}
                                        </label>
                                        <span class="list-time">{{ to_do.get('date').strftime('%d %b %y - %H:%M') }}</span>
                                        <span class="list-time">
                                            <a href="{{ url_for('admin.to_do', action='done', name=to_do.get('name')) }}">Done</a>
                                            <samp> - </samp>
                                            <a href="{{ url_for('admin.to_do', action='delete', name=to_do.get('name')) }}">Delete</a>
                                        </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
    
                    <form action="{{ url_for('admin.to_do', action='add') }}" method="get" class="add-items d-flex flex-wrap flex-sm-nowrap">
                        <input type="text" name="name" class="form-control todo-list-input flex-grow" placeholder="Add task name">
    
                        <button type="submit" class="add btn btn-primary font-weight-regular text-nowrap" id="add-task"> Add Task </button>
                    </form>
    
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div id="inline-datepicker" class="datepicker table-responsive">
                        <div class="datepicker datepicker-inline">
                            <div class="datepicker-days">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev"><i class="mdi mdi-chevron-left"></i></th>
                                            <th colspan="5" class="datepicker-switch">{{ calendar.get('month') }} {{ calendar.get('year') }}</th>
                                            <th class="next"><i class="mdi mdi-chevron-right"></i></th>
                                        </tr>
                                        <tr>
                                            <th class="dow">Su</th>
                                            <th class="dow">Mo</th>
                                            <th class="dow">Tu</th>
                                            <th class="dow">We</th>
                                            <th class="dow">Th</th>
                                            <th class="dow">Fr</th>
                                            <th class="dow">Sa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for week in calendar.get('days') %}
                                            <tr>
                                                {% for day in week %}
                                                    {% if day[1] == False %}
                                                        <td class="day">{{ day[0] }}</td>
                                                    {% elif day[1] == None %}
                                                        <td class="old day">{{ day[0] }}</td>
                                                    {% elif day[1] == True %}
                                                        <td class="today day">{{ day[0] }}</td>
                                                    {% endif %}
                                                    
                                                {% endfor %}
                                                
                                            </tr>
                                        {% endfor %}


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-months" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev"><i class="mdi mdi-chevron-left"></i></th>
                                            <th colspan="5" class="datepicker-switch">2023</th>
                                            <th class="next"><i class="mdi mdi-chevron-right"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span
                                                    class="month">Mar</span><span class="month">Apr</span><span
                                                    class="month">May</span><span class="month">Jun</span><span
                                                    class="month">Jul</span><span class="month">Aug</span><span
                                                    class="month">Sep</span><span class="month">Oct</span><span
                                                    class="month focused">Nov</span><span class="month">Dec</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-years" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev"><i class="mdi mdi-chevron-left"></i></th>
                                            <th colspan="5" class="datepicker-switch">2020-2029</th>
                                            <th class="next"><i class="mdi mdi-chevron-right"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="year old">2019</span><span class="year">2020</span><span
                                                    class="year">2021</span><span class="year">2022</span><span
                                                    class="year focused">2023</span><span class="year">2024</span><span
                                                    class="year">2025</span><span class="year">2026</span><span
                                                    class="year">2027</span><span class="year">2028</span><span
                                                    class="year">2029</span><span class="year new">2030</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-decades" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev"><i class="mdi mdi-chevron-left"></i></th>
                                            <th colspan="5" class="datepicker-switch">2000-2090</th>
                                            <th class="next"><i class="mdi mdi-chevron-right"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="decade old">1990</span><span
                                                    class="decade">2000</span><span class="decade">2010</span><span
                                                    class="decade focused">2020</span><span class="decade">2030</span><span
                                                    class="decade">2040</span><span class="decade">2050</span><span
                                                    class="decade">2060</span><span class="decade">2070</span><span
                                                    class="decade">2080</span><span class="decade">2090</span><span
                                                    class="decade new">2100</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-centuries" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev"><i class="mdi mdi-chevron-left"></i></th>
                                            <th colspan="5" class="datepicker-switch">2000-2900</th>
                                            <th class="next"><i class="mdi mdi-chevron-right"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="century old">1900</span><span
                                                    class="century focused">2000</span><span class="century">2100</span><span
                                                    class="century">2200</span><span class="century">2300</span><span
                                                    class="century">2400</span><span class="century">2500</span><span
                                                    class="century">2600</span><span class="century">2700</span><span
                                                    class="century">2800</span><span class="century">2900</span><span
                                                    class="century new">3000</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title pb-3">The most visited posts</h4>
                       {% for post in top_posts %}
                              <div class="list-card">
                                  <div class="row align-items-center">
                                  <div class="col-7 col-sm-8">
                                      <div class="row align-items-center">
                                      <div class="col-sm-4">
                                          <a href="{{ url_for('blog.post' , slug=post.slug) }}">
                                              <img src="{{ url_for('library_views.madie_get' , madie_id= post.image) }}" alt="" width="30px" height="30px">
                                          </a>
                                      </div>
                                      <div class="col-sm-8 pr-0 pl-sm-0">
                                          <span>{{ post.time.strftime('%d %B %Y') }}</span>
                                          <h6 class="mb-1 mb-sm-0">{{ post.title[:15] }}...</h6>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-5 col-sm-4">
                                      <div class="d-flex pt-1 align-items-center">
                                      <div class="dropdown dropleft pl-1 pt-3">
                                          <div id="dropdownMenuButton2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                          <p><i class="mdi mdi-dots-vertical"></i></p>
                                          </div>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                          <a class="dropdown-item" href="{{ url_for('blog.post' , slug=post.slug) }}">Visit</a>
                                          <a class="dropdown-item" href="{{ url_for('admin.post_edit' , post_id = post.id) }}">Edit</a>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                                  </div>
                              </div>
      
                       {% endfor %}
      
                  </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}