{% extends "base.html" %}

{% block head %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static' , filename='blog/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static' , filename='blog/assets/css/mediumish.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />    

    <style>
        .margin-bottom-posts{
            margin-bottom: 10px;
        }
        .style-buttons-actions{
			margin:5px 0 0 0;padding:4px ;
			border:0px solid black; border-radius : 50%;
		}
		.style-buttons-actions:hover{
			transition: background-color ease-in 250ms;
			background-color: rgba(145, 139, 139, 0.616);
		}
    </style>
	<script src="{{ url_for('static' , filename='blog/assets/js/save.js') }}"></script>
{% endblock %}


{% block body %}
    {% if posts|length == 0 %}
        <div style="text-align: center;">
            <h3 >This section is empty</h3>
        </div>
    {% endif %}
    <div class="row listrecent listrelated" style="max-width: 1000px; margin:0 auto">

        {% for post in posts %}
                <!-- begin post -->
                <div class="col-md-4 margin-bottom-posts">
                    <div class="card">
                        <a href="{{ url_for('blog.post' , slug=post.slug) }}">
                        <img class="img-fluid img-thumb" src="{{ url_for('library_views.madie_get' , madie_id= post.image) }}" alt="">
                        </a>
                        <div class="card-block">
                            <h2 class="card-title"><a href="{{ url_for('blog.post' , slug=post.slug) }}">{{ post.title }}</a></h2>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                        <a href="/blog/authors/1"><img class="author-thumb" src="{{ url_for('static' , filename = 'img_profile/' + post.author.image.filename) }}" alt="{{post.author.full_name}}"></a>
                                    </span>
                                    <span class="author-meta">
                                    <span class="post-name">
                                        <a href="/blog/authors/1">{{ post.author.full_name }}</a>
                                    </span>
                                    <br>
                                    <span class="post-date">{{ post.time.strftime('%d %B %Y') }}</span>
                                    <span class="dot"></span>
                                    <span class="post-read">{{ post.read_time }} min read</span>
                                    </span>

                                    <span class="post-read-more">
                                        <a onclick="save('{{ url_for('blog.save' , post_id = post.id) }}')"  id="{{post.id}}-save-a" >
                                            <i class="material-symbols-outlined style-buttons-actions" id="{{post.id}}-save-i">bookmark</i>
                                        </a>
                                    </span>
                                    {% if post in current_user.posts_saved %}
                                        <script>color_save('active' , '{{post.id}}-save' )</script>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
        {% endfor %}

    </div>
{% endblock body %}