{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static' , filename='user/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />    {% block style %}{% endblock style%}
{% endblock head%}

{% block body %}

   

<body class="profile-page">
    {% include 'user/_inc/navbar.html' %}

    
    
    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://127.0.0.1:5000/library/files/3');"></div>
    
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
                                <img style="background-color: rgb(255, 255, 255);" src="{{ url_for('static' , filename='img_profile/' + current_user.image.filename) }}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
	                        <div class="name">
	                            <h3 class="title">{{user.full_name}}</h3>
								<h6>
                                    {% if user.role == 1 %}
                                        admin
                                    {% else %}
                                        user
                                    {% endif %}
                                </h6>
	                        </div>
	                    </div>
    	            </div>
                </div>
                {% include '_inc/flash-message.html' %}
                <div class="description text-center">
                    <p> {{user.bio}} </p>
                </div>
                
                {% block content %}
                
                {% endblock content%}
        


        
            </div>
        </div>
	</div>
	
    {% include 'user/_inc/footer.html' %}
    <script src="{{ url_for('static' , filename='assets/jquery/jquery.min.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

   

</body>
    
    
{% endblock body %}